<html>
    <Head>
        <Title>Card Details</Title>
        <style>
        li a {
            display: block;
            width: 100%;
            color: #000;
            padding-top: 25px;
            padding-left: 0px;
            text-decoration: none;
            float: top;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color:#d18851;
            height: 70%; 
            position: fixed;
            overflow: auto; 
            border-radius: 18px;
        }
          
        li a:hover {
            background-color: #ebc96c;
            color: #d18851;
            height:55px;
        }

          
        li {
            text-align: left;
            height: 20%;
            font-size: 18px;
        }

        .active { background-color: #ebc96c;
                 height:75px
                 }

        .imgcontainer {
            text-align: center;
            margin: 0px 0 0px 0;
            position: fixed;
            overflow: auto;
            height:250px; 
            }

        img.avatar {
            width: 50%;
            height: 100%;
            border-radius: 50%;
            }

            .dropdown {
                float: right;
                overflow: hidden;
              }
              
              .dropdown .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding-right: 110px;
                background-color: inherit;
                font-family: inherit; 
                margin-left: 50px ; 
              }
            
              .dropdown-content {
                display: none;
                position: absolute;
                background-color: #afabab;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                border-radius: 18px;
              }
              
              .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
              }
              
              .dropdown-content a:hover {
                background-color: #ebc96c;
                border-radius: 18px;
              }
              
              .dropdown:hover .dropdown-content {
                display: block;
              }
              input[type=number], input[type=password],input[type=text],input[type=email] {
                width: 30%;
                padding: 14px 16px;
                margin: 8px 0;
                display: inline-block;
                border: 3px solid rgb(0, 0, 0);
                box-sizing: border-box;
                border-radius: 120px;
                opacity:100%;
              }
              button {
                background-color: #1eb91e;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 15%;
                border-radius: 120px;
                border: 1px solid rgb(0, 0, 0);
                opacity:100%;
              }

        </style>
    </Head>
    <Body>
        <div class="imgcontainer">
            <table style="background-color:#d18851; border-radius:18px;" width="100%">
                <tr>
                    <td width="20%">
                        <center>
                        <img src="crops logo.jpg" alt="Avatar" class="avatar">
                    </center>
                    </td>
                    <td style="font-size:30px;font-family:cursive;">
                        <b>Online Public Distribution System</b>
                    </td>
                    <td style="padding-right:0px">
                        <div class="dropdown">
                            <button class="dropbtn">
                                <img src="user.png" width="50px" height="50px" style="border-radius:50%;float:right;">
                            </button>
                            <div class="dropdown-content">
                                <a href="http://localhost:4000/">Card Details<img src="card details.png" width="25px" height="25px" align="right" ></a>
                                <a href="http://localhost:3000/index.html">Log out<img src="logout.webp" width="25px" height="25px" align="right" ></a>
                            </div>
                          </div>
                    </td>
                </tr>
            </table>
    </div>
           <div style="float:left;padding-top:220px;" width="30%">
                    <ul>
                        <li><a href="http://localhost:3000/Homepage.html"><img src="Home.png" width="25px" height="25px" align="center" style="padding-left:30px;"><b>&emsp;Home</b></a></li>
                        <li><a href="http://localhost:3000/Order page.html"><img src="cart.png" width="25px" height="25px" align="center" style="padding-left:30px;"><b>&emsp;Order</b></a></li>
                        <li><a href="http://localhost:5000/"><img src="History.png" width="25px" height="25px" align="center" style="padding-left:30px;"><b>&emsp;History</b></a></li>
                        <li><a href="http://localhost:3000/feedback.html"><img src="Feedback.png" width="25px" height="25px" align="center" style="padding-left:30px;"><b>&emsp;Feedback</b></a></li>
                    </ul>
            </div>
            <div style="padding-left:350px; padding-top:250px; padding-right:50px;" width="60%" >
                <% usersList.forEach(user => {%>
                <div>
                <div class="cardfront">                    
                  <table background="Card background.jpg" height="350px" width="600px" style="border: 1px solid rgb(0, 0, 0);border-radius:10%;padding-bottom:25px; float:left;">
                    <tr style="font-size:20px;">
                        <td width="30%">&emsp;&emsp;<img src="Ashoka pillar.png" width="75px" height="75px"></td>
                        <td colspan="2" style="font-size:22px"><b>Ration Card<br>Government of India</b></td>
                    </tr>
                    <tr style="font-size:20px;"><td colspan="3"><hr size="2px" color="black" width="600px"></td></tr>
                    <tr style="font-size:20px;">
                        <td rowspan="5"><img src="Profile.png" width="100%" height="80%"></td>
                        <th align="left">Card Number :</th>
                        <td align="left"><%= user.CardNumber %></td>
                    </tr>
                    <tr style="font-size:20px;">
                        <th align="left">Head of the Family :</th>
                        <td align="left"><%= user.FamilyHead %></td>
                    </tr>
                    <tr style="font-size:20px;">
                        <th align="left">No of Family Members :</th>
                        <td align="left"><%= user.Count %></td>
                    </tr>
                    <tr style="font-size:20px;">
                        <th align="left">Phone no: :</th>
                        <td align="left"><%= user.PhNumber %></td>
                    </tr>
                    <tr style="font-size:20px;">
                        <th align="left">Shop no :</th>
                        <td align="left"><%= user.Shopno %></td>
                    </tr>
                </table> 
                 
                </div>
                <div class="cardback" id="cardback">
                <table background='Card background.jpg' height='350px' width='600px' style='border: 1px solid rgb(0, 0, 0);border-radius:10%;padding-bottom:25px;padding-top:25px;padding-left:25px;padding-right:25px; float:right'>                   
                    <tr height='70%'>
                        <td colspan='2'><img src='Qrcode.png' width='200px' height='200px'></td>
                        <th align='left' style='font-size:20px;' width='30%'>Address :<br><br></th>
                        <td align='left' style='font-size:20px;'><%= user.Address %></td>
                    </tr>
                    <tr>
                        <td colspan='4'><hr size='2px' color='black' width='500px;'></td>
                    </tr>
                    <tr>
                        <td><img src='Helpline.png' width='50px' height='50px'></td>
                        <td style='font-size:20px;' align='right'>3456789087654</td>
                        <td><img src='mail.png' width='50px' height='50px' align='right'></td>
                        <td style='font-size:20px;' align='left'>www.indpds.gov.in</td>
                    </tr>   
                </table>
                </div>
                </div>
                <%})%>
                
            </div>
            
    </Body>
</html>